.text_container{
    border-radius: 10px;
    min-height: 30vh;
    min-width: 30vw;
    border: 2px #f596aa70 solid;
    resize:none;
    outline: none;
    box-shadow: 0 7px 10px #f596aa70;
  }

.file_get{
  position: absolute;
}

.form-control{
  max-width: 50%;
  margin: 0 auto;
  border: 2px #f596aa70 solid;
  box-shadow: 0 0px 10px #f596aa30;
  outline: none;
}