.settingsContainer{
    margin-top: 40vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 80%;
    width: 70%;
    border: 2px #f596aa70 solid;
    box-shadow: 0 7px 10px #f596aa70;
    border-radius: 10px;
    z-index: 9999;
    opacity: 0; /* 初始透明度设置为0 */
    visibility: hidden; /* 初始不可见 */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* 过渡效果 */
}

.settingsContainer.visible {
    background-color: white;
    opacity: 1; /* 完全不透明 */
    visibility: visible; /* 可见 */
}